# List
- ordered, indexed
- heterogeneous- mixture
- dynamic- can be changed in runtime- technical term: mutable
- can hold duplicate values
- can be nested
- 'list()' is used to create a list from other iterables
- square brackets are used to create a list

In [1]:
x= ['Alex', 'Bob', 'Charlie','David']

In [3]:
#to check type of a data
type(x)

list

In [4]:
word= 'Christopher'
charlist= list(word)
print(charlist)

['C', 'h', 'r', 'i', 's', 't', 'o', 'p', 'h', 'e', 'r']

In [5]:
list100= list(range(100))

In [6]:
print(list100)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [7]:
list100= list(range(1,100))
print(list100)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [8]:
#Duplication
z= [1]*10
z

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [9]:
z= [1,2,3]* 10
z

[1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3]

In [10]:
charlist

['C', 'h', 'r', 'i', 's', 't', 'o', 'p', 'h', 'e', 'r']

In [11]:
charlist[1]

'h'

In [12]:
charlist[-1]

'r'

In [16]:
charlist[0]= 's'
charlist

['s', 'h', 'r', 'i', 's', 't', 'o', 'p', 'h', 'e', 'r']

In [17]:
soils=['alluvial', 'clay', 'slit', 'gravel', 'Loam']

# first five elements
# last three element
# all except first and last

In [26]:
soils[0:5]

['alluvial', 'clay', 'slit', 'gravel', 'Loam']

In [28]:
soils[2:5]

['slit', 'gravel', 'Loam']

In [29]:
soils[1:-1]

['clay', 'slit', 'gravel']

# list methods
- function that add items
  - append
  - insert
  - extend
- function that remove items
  - remove
  - pop
  - clear
- function that change items
  - reverse
  - sort
  - copy
  - index
  - count

In [30]:
books= ['Warbreaker',
        'Godan',
        'The may of Kings',
        'The final Empire', 
        'The hero of ages', 
        'Warbreaker']

In [31]:
books.append('Legion')

In [33]:
print(books)

['Warbreaker', 'Godan', 'The may of Kings', 'The final Empire', 'The hero of ages', 'Warbreaker', 'Legion']

In [34]:
name= 'The revolution'
books.append(name)
print(books)

['Warbreaker', 'Godan', 'The may of Kings', 'The final Empire', 'The hero of ages', 'Warbreaker', 'Legion', 'The revolution']

In [2]:
numbers=[]
for i in range(10):
    val= int(input("><enter a number:"))
    numbers.append(val)
print(numbers)

[4, 5, 6, 7, 8, 9, 1, 2, 3, 5]

In [37]:
numbers=[]
for i in range(10):
    val= int(input("><enter a number:"))
    numbers.append(val)
print(numbers)

[5, 6, 2, 3, 7, 8, 9, 1, 11, 14]

In [39]:
sum= 0
for i in range(numbers[]):
    sum+= i

SyntaxError: invalid syntax (244759948.py, line 2)

In [40]:
numbers.append(['banana', 'orange'])

In [41]:
print(numbers)

[5, 6, 2, 3, 7, 8, 9, 1, 11, 14, ['banana', 'orange']]

In [42]:
fruits=['banana', 'orange']
numbers.append(fruits)
print(numbers)

[5, 6, 2, 3, 7, 8, 9, 1, 11, 14, ['banana', 'orange'], ['banana', 'orange']]

In [43]:
x=[1,2,3,4,5]
x.insert(2, 3.5)

In [44]:
print(x)

[1, 2, 3.5, 3, 4, 5]

In [45]:
x.insert(4,10)
x

[1, 2, 3.5, 3, 10, 4, 5]

In [46]:
numbers.extend(fruits)

In [47]:
numbers

[5,
 6,
 2,
 3,
 7,
 8,
 9,
 1,
 11,
 14,
 ['banana', 'orange'],
 ['banana', 'orange'],
 'banana',
 'orange']

In [55]:
hurr= ['The sawshank Redemption'
         'The Godfather'
         'The dark Knight'
         '12 angry men'
         'The Godfather: Part2']
hurr.remove('The Godfather')
hurr

ValueError: list.remove(x): x not in list

ValueError: list.remove(x): x not in list

In [53]:
x=[1,2,3,4,5,6]
x.remove(3)
x

[1, 2, 4, 5, 6]

In [54]:
movies.pop(2)
movies

IndexError: pop index out of range

In [56]:
x.pop()

6

In [57]:
x.clear()

In [58]:
x

[]

In [62]:
colours=['red','Green','Yellow', 'Pink', 'Grey']
colours.sort()
print(colours)

['Green', 'Grey', 'Pink', 'Yellow', 'red']

In [63]:
colours.reverse()

In [64]:
colours

['red', 'Yellow', 'Pink', 'Grey', 'Green']

In [66]:
colours.index('Yellow')

1

In [67]:
if 'Yellow' in colours:
    print(colours.index('Yellow'))

1

In [69]:
if 'Brown' in colours:
    print(colours.index('Brown'))
else:
    print('Colour doesnt exist')

Colour doesnt exist

In [71]:
colours= ['red','yellow','purple','white','red','white','yellow','pink', 'yellow']

In [72]:
colours.count('red')

2

In [73]:
colours.count('yellow')

3

In [77]:
a= colours.copy()
print(a==colours)

True

In [81]:
x= [1,2,3]
y=x #👎
z=x.copy() #🤜

In [80]:
print('x & y', x is y, x== y)
print('x & z', x is z, x==z)

x & y True True
x & z False True

In [1]:
x= [1.2.3]
y=x #👍
z=x.copy() #🤘

SyntaxError: invalid syntax (2729808699.py, line 1)

In [ ]:
y= []

# lambda expression

In [1]:
f= lambda x: x**2+10

In [2]:
f(10)

110

In [10]:
g= lambda a,b: (a**2+b**2+2*a*b)**(1/2)

In [11]:
g(2,2)

4.0

# Comprehension
# when we want to create one list with the help of another in a single line

In [12]:
x=[1,2,3,4,5,6,7,8,9,10]
x2=[1,2,3]
for i in x:
    sqr= i**2
    x2.append(sqr)
print(x2)

[1, 2, 3, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Mapping
# generating same size sequence from existing sequence

In [15]:
x=[1,2,3,4,5,6,7,8,9,10]
x2=[1,2,3]
for i in x:
    sqr= i**2
    x2.append(sqr)
print(x2)
x3= list(map(lambda i: i**3,x2))
print(x3)

[1, 2, 3, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 1, 64, 729, 4096, 15625, 46656, 117649, 262144, 531441, 1000000]

In [16]:
words='Python is the best language for coding'.split()
words_with_n= list(filter(lambda i: "n" in i , words))
print(words_with_n)

['Python', 'language', 'coding']

In [18]:
a={1,2,3}
a.add(128)
a.add('Charbagh')
a.add((11,22,33))
print(a)
# we cannot add any list

{128, 1, 2, 3, (11, 22, 33), 'Charbagh'}

In [20]:
#to add a list we use the update function
x=[1,2,3,123,12,134]
a.update(x)
print(a)

{128, 1, 2, 3, 134, 12, (11, 22, 33), 'Charbagh', 123}

In [21]:
x.remove(1)
print(a)

{128, 1, 2, 3, 134, 12, (11, 22, 33), 'Charbagh', 123}