FOR LOOP

In [4]:
x= "PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [6]:
story="Once upon a time....."
for char in story:
    print(char)

O
n
c
e

u
p
o
n

a

t
i
m
e
.
.
.
.
.

In [7]:
names= ['Sakshi', 'Rahul', 'Alok', 'Vibhav','Manjeet']
for name in names:
    print(name, len(name))

Sakshi 6
Rahul 5
Alok 4
Vibhav 6
Manjeet 7

In [9]:
names= ['Sakshi', 'Rahul', 'Vibhav', 'Alok','Manjeet']
for name in names:
    print(f'{name} is suar')

Sakshi is suar
Rahul is suar
Vibhav is suar
Alok is suar
Manjeet is suar

In [10]:
range(10)

range(0, 10)

In [11]:
range(1,20)

range(1, 20)

In [14]:
range(2,20,1)
print ('range')

range

In [15]:
for i in range(6):
    print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [17]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [19]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [20]:
#reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [21]:
#pattern loop
for i in range(10):
    print(i*'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [29]:
#wap to calculate the total of all numbers from 1 to 50
sum=0
for i in range(1,51):
    sum+=i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275

In [35]:
#wap to calculate the total of all numbers from 1 to 50
sum=0
for i in range(1,51):
    sum+=i
print(sum)

1275

#wap to add all the numbers that are divisible by 3 ranging from 1 to 100

In [36]:
if 9%3==0: 
    print("9 is divisible by 3")

9 is divisible by 3

logical answer

In [38]:
total=0
for i in range(1,100):
    if(i %3==0):
        total+=i
print(total)

1683

trick

In [39]:
total=0
for i in range(3,100,3):
    total+=i
print(total)

1683

# wap to calculate the average of all numbers from 1 to 100

In [41]:
total=0
for i in range(1,101):
    total+=i
avg= total/100
print(avg)

50.5

# Wap to calculate the sum of the number ranging from 1 to 100 divisible by 2

In [8]:

for i in range(1,100):
    if i/2 ==0:
        sum+=i
print(sum)

0

In [2]:
for i in range(1,20):
    if i%2==0:
        sum+=i
print(sum)

90

In [1]:
for i in range(1,20):
    if i%2==0:
        sum+=i
print(sum)

TypeError: unsupported operand type(s) for +=: 'builtin_function_or_method' and 'int'